*{
	padding: 0;
	margin: 0;
	border: 0;
}

/* 나눔고딕 폰트 : 무료 -- 이번 골타디 프로텍트에서는 사용하지 않음.*/
/*
@font-face{
	font-family: 'NanumBarunGothicBold'; 
	src: url("../font/NanumBarunGothicBold.ttf") format("truetype"); 
}
*/
@font-face{ 
	font-family: 'RixYeoljeongdoRegular'; /* 열정도 폰트 : 무료*/
	src: url("../font/RixYeoljeongdoRegular.ttf") format("truetype"); 
}
/*
@font-face{
	font-family: 'NanumGothicBold'; 
	src: url("../font/NanumGothicBold.ttf") format("truetype"); 
}
@font-face{
	font-family: 'SeoulNamsanEB'; 
	src: url("../font/08SeoulNamsanEB.ttf") format("truetype"); 
}
*/

/* Layout */

body
{
	width: 1280px;
	height: 720px;
	/*background: black;*/
	/*background:url("../image/2_logo/BUSIDOL_LOGO1280x720x75p.png") no-repeat 0 0;*/ /* SKB의 경우만 이렇게 한다. */
	background:url("../image/logo/gamelogo_bg_white.png") no-repeat 0 0; /* AMO의경우 저사양폰의 white화면 제거를 위해 사용 */
	overflow:hidden;
/*	font-family:'NanumGothicBold',sans-serif;*/
/*	font-family:'SeoulNamsanEB',sans-serif;*/

/*	font-family:'NanumBarunGothicBold',sans-serif;*/
	font-family:'RixYeoljeongdoRegular',sans-serif;

/*	image-rendering: -webkit-optimize-contrast;*/
}



/* 수직 스크롤바 스타일링 */
::-webkit-scrollbar 
{
	width: 10px; /* 스크롤바의 너비 조정 */
	background-color: #555;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
	background-color: #f4eee4; /* 스크롤바의 색상 조정 */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
	background-color: #5bb79d; /* 스크롤바에 호버 효과를 줄 경우 색상 변경 */
}

/* 수평 스크롤바 스타일링 */
::-webkit-scrollbar:horizontal 
{
	height: 10px; /* 수평 스크롤바의 높이 조정 */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal 
{
	background-color: #5bb79d; /* 수평 스크롤바의 색상 조정 */
}




/*사전공지없이 보상내용이 변경될수 있습니다.*/
.quest_notice
{
	left: 760px;
	top: 603px;
	width : 500px;
	height: 28px;
	/*background: 'yellow';	*/
	/*opacity:'0.5';		*/
	line-height: 28px;
	font-size  : 20px;
	text-align : left;
	text-shadow: 1px 1px 1px black; 
	/*font-weight: bold;*/
	color :#ffffff;
	position: absolute;
}

/*일일업적,주간업적의 상세 내용 설명*/
.quest_detail
{
	background:url("../image/0_common/co_subbox.png") no-repeat 0 0;
	background-position:0px 0px;
	width:854px;
	height:32px;
	left:213px;
	top:148px;
	display : block;
	opacity : 0;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	position: absolute;
}

.network_error_bg
{
  background: #ffffff;
  border-radius: 33px 33px 33px 33px;
  border: 7px solid #fbac6e;
  width:552px;
  height:325px;
  left: 364px;
  top: 198px;
  position:absolute;
}

.network_error_title
{
  font-size: 35px;
  color: #8e0200;
  text-align: center;
  line-height: 57px;
  width: 540px;
  height: 57px;
  left: 370px;
  top: 250px;
  position:absolute;
}

.network_error_text
{
  font-size: 25px;
  color: #303030;
  text-align: center;
  line-height: 38px;
  width: 540px;
  height: 60px;
  left: 370px;
  top: 328px;
  position:absolute;
}

.network_error_btn
{
  font-size: 25px;
  color: #303030;
  text-align: center;
  line-height: 38px;
  width: 160px;
  height: 60px;
  left: 560px;
  top: 450px;
  background: #fba564;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid #fba564;
  position:absolute;
}
button:hover
{
  background: #f27212;
  border: 5px solid #ffe600;
}
button:active
{
  background: #b94302;
  border: 5px solid #ffe600;
}
/*
div
{
	overflow : hidden;
}
*/
#LOGLOG
{
	left: 760px;
	top: 50px;
	width: 500px;
	height: 650px;
	background: gray;
	opacity: 0.6;
	display: none;
	position:absolute;	
}


.title{
	left: 440px;
	top: 67px;
	width : 400px;
	height: 39px;
	/*background: 'yellow';	*/
	/*opacity:'0.5';		*/
	line-height: 51px;
	font-size  : 32px;
	text-align : center;
	text-shadow: 1px 1px 1px black; 
	/*font-weight: bold;*/
	color :#ffffff;
	position: absolute;
}

/*일반적으로 사용하는 button의 버턴 
.co_btn_txt{
	left:	0px;
	top:	0px;
	width:	188px;
	height:	66px;
	line-height: 66px;
	font-size  : 28px;
	text-align : center;

	color :white;
	position: absolute;
}*/

/* 팝업에 사용하는 button */
.co_pobtn_txt{
	left:	0px;
	top:	0px;
	width:	218px;
	height:	96px;
	line-height: 96px;
	font-size  : 27px;
	text-align : center;
	color :white;
	position: absolute;
}

#KT_LOADING
{
	background:url("../image/kt/loading_kt.png") no-repeat 0 0;
	background-position:-0px -0px;
	width:124px;
	height:118px;
	left:578px;
	top:301px;
	/*display : none;*/
	display : block;
	opacity : 0;
	position: absolute;
}

.button_focus {
  /*background-color:#eb675e;*/
  box-shadow: 0px 0px 10px 3px rgba(255, 0, 0, 1)!important;
  border-radius: 3px;


  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeOut ;
  -webkit-animation-iteration-count: infinite;

  animation-name: fadeOut ;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.button_blue {
 /*font-weight:bold;*/
 /*text-decoration:none;*/
 /*font-family:고딕체;*/
 box-shadow:inset #ffffff 0px 1px 1px -1px;
 o-box-shadow:inset #ffffff 0px 1px 1px -1px;
 -moz-box-shadow:inset #ffffff 0px 1px 1px -1px;
 -webkit-box-shadow:inset #ffffff 0px 1px 1px -1px;
 background:#2eccfc;
 /*  - 2016.01.25
 background:-o-linear-gradient(90deg, #2eccfc, #008cff);
 background:-moz-linear-gradient( center top, #2eccfc 5%, #008cff 100% );
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2eccfc), color-stop(1, #008cff) );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eccfc', endColorstr='#008cff');
 background:-webkit-linear-gradient(#2eccfc, #008cff);
 background:-ms-linear-gradient(#2eccfc, #008cff);
 background:linear-gradient(#2eccfc, #008cff);
 */
 background:-o-linear-gradient(90deg, #41C0E8, #4289C0);
 background:-moz-linear-gradient( center top, #41C0E8 5%, #4289C0 100% );
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #41C0E8), color-stop(1, #4289C0) );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#41C0E8', endColorstr='#4289C0');
 background:-webkit-linear-gradient(#41C0E8, #4289C0);
 background:-ms-linear-gradient(#41C0E8, #4289C0);
 background:linear-gradient(#41C0E8, #4289C0);

 /*text-indent:0px;*/
 /*line-height:128px;*/
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border-radius:5px;
 /*text-align:center;*/
 /*vertical-align:middle;*/
 display:inline-block;
 /*font-size:22px;*/
 /*color:#002552;*/
 /*width:140px;*/
 /*height:40px;*/
 padding:0px;
 /*text-shadow:#ade6ff 0px 1px 0px;*/
 border-color:#59a9c6;
 border-width:1px;
 border-style:solid;
}
